{% extends 'base.html.twig' %}

{% block body %}

{% if query is defined %}
    <h2>Wyniki wyszukiwania dla: "{{ query }}"</h2>

    {% for article in articles %}
        <h3>{{ article.title }}</h3>
        <p>{{ article.content|slice(0, 150) }}...</p>
        <a href="{{ path('article_show', {'id': article.id}) }}">Czytaj więcej</a>
    {% else %}
        <p>Brak wyników</p>
    {% endfor %}

{% else %}
    <h2>Najnowszy artykuł</h2>

    <h3>{{ latestArticle.title }}</h3>
    <p>{{ latestArticle.content }}</p>
{% endif %}

{% endblock %}
